@import 'vars.scss';
@import 'mixins.scss';

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  outline: none;
}

button, input {
  border: none;
}