// fonts
$GothamPro: 'Gotham Pro', Arial, sans-serif;
$Roboto: 'Roboto', Arial, sans-serif;
$Montserrat: 'Montserrat', Arial, sans-serif;

// Text size
$sxs-font-size: 12px;
$xs-font-size: 13px;
$sm-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;

$head-sm-size: 22px;
$head-md-size: 24px;
$head-lg-size: 28px;
$head-xl-size: 36px;

// responsive vars
$lg-desktop: 1920px;
$md-desktop: 1440px;
$lg-tablet: 1024px;
$md-tablet: 768px;
$lg-mobile: 480px;
$md-mobile: 360px;

// colors
$white: #ffffff;
$black: #000000;
$mainGreen: #3aa18e;
$additionalGreen: #44bfa8;
$mainText: #3d4248;
$additionalText: #747678;
$crmColor: #EFF8FF;

$mainBg: #f0f2f6;
$red: #db5246;
$redDark: #a81320;
$formBorder: #c7cacd;
$borderColor: #dadee3;
$inputBorder: #dbe0e4;

$hoverColor: #44bfa8;
$gray: #b1b4b8;
$graySoft: #eff3f6;

// parallax slider
$paralaxAutoplay: 10s;
